$lightGreen: #75bb7c;
$orange: #ff8c76;

.App {
  text-align: left;
}

.headerTitle {
  padding-left: 10px;
}

.invBody {
  background-color: rgb(224, 223, 223);
}

.gridDiv {
  width: auto;
  padding: 10px;
}

.btnOff {
  background: $orange;
  color: #fff !important;
  text-decoration: none !important;
  border: none;
  padding: 5px 30px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  font-family: inherit;
}
